/* .hero-icon-section {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
} */

.heroImage {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.chat-shadow {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.overlay {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
